.header {
  min-height: 10vh;
  display: flex;
  padding: 0 10vw;
  justify-content: space-between;
  width: 100vw;
  background-image: linear-gradient(to right top, #051937, #004d7a);
}

.header nav {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header nav > a {
  text-decoration: none;
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: 600;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.header nav ul li a {
  text-decoration: none;
  color: #fefefe;
}
